
/* ********************************
            Global styles 
***********************************/
* {
    box-sizing: border-box;
    margin: 0 auto;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
}
body {
    background-image: url(./img/bkg.jpg);
}
.navbar ul a {
    text-decoration: none;
}
.main-header {
    background-color: #B01C1C;
    text-align: center;
}
.main-header .logo {
    padding: 25px 0 25px 0;
    color: #fff;
    font-size: 24px;
}
.main-header .logo .bold {
    font-weight: bold;
}
.containermain {
    background-color: #fff;
    text-align: center;
}
.main-footer {
    background-color: #B01C1C;
    text-align: center;
    color: #fff;
}
.main-footer .col p {
    padding: 25px 0 25px 0;
    margin-bottom: auto;
}
/* ********************************
            Specific styles
************************************/
/* POCETNA */
.header-main {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./img/bkg-section.jpg);
    height: 350px;
    width: 100%;
}
.header-main .navigacija {
    background-color: #B01C1C;
}
.radovi-header-sec .navigacija {
        background-color: #B01C1C;
}
.radovi-header-sec .navigacija a {
    color: #fff;
}
.header-main .navigacija a {
    color: #fff;
}
.header-main .navigacija a:hover {
    background-color: #E21717;
}
.header-main .navigacija .active{
    background-color: #E21717;

}
.radovi-header-sec .navigacija a:hover {
    background-color: #E2171771;
}
.radovi-header-sec .navigacija .active{
    background-color: #E21717;
}

.cssarticle1 {
    padding: 70px 30px;
}
.cssarticle1 h2,p {
    padding-bottom: 30px;
}
.img-radovi {
    width: 50%;
    border-radius: 50%;
    margin: 10px 0 50px 0;
}
/* RADOVI */
.radovi-header-sec {
    background-image: url(./img/usluge-header.jpg);
    height: 450px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.naslov-usluge {
    margin-bottom: 50px;
    background-color: #B01C1C;
    padding: 15px 0;
    color: #fff;
}
.usluge {
    padding: 20px 0;
}
.usluge-1 {
    background-color: #F5F5F5;
    padding: 20px;
}
.img-usluge {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.containermain .usluge h3 {
    background-color: #B01C1C;
    padding: 10px 0;
    color: #fff;
    width: 220px;
    margin-bottom: 25px;
}
.btn {
    margin: 20px 0 50px 0;
}
/* RADOVI END */
/***********************************
            Helper classes 
************************************/

