
/* ********************************
            Global styles 
***********************************/
* {
    box-sizing: border-box;
    margin: 0 auto;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
}
body {
    background-image: url(./img/bkg.jpg);
}
.navbar ul a {
    text-decoration: none;
}

/* ********************************
            Layout
***********************************/

/* ********************************
            Specific styles
************************************/
.main-header {
    background-color: #B01C1C;
    text-align: center;
}
.main-header .logo {
    padding: 25px 0 25px 0;
    color: #fff;
    font-size: 24px;
}
.main-header .logo .bold {
    font-weight: bold;
}
.header-main {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./img/bkg-section.jpg);
    height: 350px;
    width: 100%;
}
.header-main .navigacija {
    background-color: #B01C1C;
}
.header-main .navigacija a {
    color: #fff;
}
.header-main .navigacija a:hover {
    background-color: #E21717;
}
.header-main .navigacija .active{
    background-color: #E21717;

}
.containermain {
    background-color: #fff;
    text-align: center;
}
.cssarticle1 {
    padding: 70px 30px;
}
.cssarticle1 h2,p {
    padding-bottom: 30px;
}
.img-radovi {
    width: 50%;
    border-radius: 50%;
    margin: 10px 0 50px 0;
}
.main-footer {
    background-color: #B01C1C;
    text-align: center;
    color: #fff;
}
.main-footer .col p {
    padding: 25px 0 25px 0;
    margin-bottom: auto;
}
/***********************************
            Helper classes 
************************************/

